<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div>
    <input ng-model="user.userName" type="text" size="10" placeholder="Username"/><br>
    <input ng-model="user.userEmail" type="text" size="10" placeholder="E-mail"/><br>
    <input ng-model="user.password" type="password" size="10" placeholder="Password"/><br>
    <div class="btn-group">
        <button class="btn btn-default" ng-click="register()">
            Register
        </button>
        <button class ="btn btn-default" ng-click="cancel()">
            Cancel
        </button>
    </div>
</div>
