<!DOCTYPE html>
<div>
    
    <h2>About</h2>
    
    <table>
        <tr>
            <td rowspan ="3">
                <h3>The Group 15</h3>
            </td>
        <tr>
            <td><font color="FFFFFF">ghostly space</font></td>
            <td><b>GroupName: </b></td>
            <td><font color="FFFFFF">ghostly space</font></td>
            <td>The Party Mongooses</td>
        </tr>
        <tr>
            <td><font color="FFFFFF">ghostly space</font></td>
            <td><b>Contact: </b></td>
            <td><font color="FFFFFF">ghostly space</font></td>
            <td>karlgren@superman.nu</td>
        </tr>
        <tr><td colspan="5"><font color="FFFFFF">Ghostly Row</font></td></tr>
        <tr>
            <td colspan="5"><p>Detta är ett webbapplikations-projekt utfört av ett gäng helylle nissar 
            som, av olika mått att döma, är riktigt fiffiga på sina starka sidor.<br>
            <br>De inblandade är:<br>Mathias 'Kålle' Karlgren - självutnämnd gruppledare
            <br>Victor 'Åse-Nisse' Landin - Våran Bookmaker och fältjurist
            <br>David 'Harry' Harald - Mannen med databasen och all makt<br>
            Martin 'nej sa jag' Bakkelunn - Nej sa jag, Harry!<br><br>
            Detta projektet gjordes som en del i en projektkurs på Chalmers
            hösten 2014. Vi har bland annat kommit fram till att Angular borde 
            kunna stavas lättare, att Mona-Lisa borde ha en mustasch och att 
            vi inte känner till i vilken enhet Asfalt säljs i (är det i volym eller area?).</p></td></tr>
    </table>
    
</div>