<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div>
        <!--Body content-->
        <button class="btn btn-default">
            <a href ="#products"><font color="000">Back</font></a>
        </button>
        <h2>Products detail</h2>
        
        <table class="table">
        <tr>
            <td rowspan ="3">
                <img src="img/{{product.url}}" alt="{{product.proName}}" height="200" width="300">
            </td>  
       
            <td>art.Nr</td>
            <td>
                <input ng-model="product.artNr" type="number" value="{{product.artNr}}" disabled/>
            </td>
        <tr>
            <td>Product Name</td>
            <td>
                <input ng-model="product.proName" type="text" value="{{product.proName}}" disabled/>
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <input ng-model="product.price" type="number" value="{{product.price}}" disabled/>
            </td>
        </tr>
        <tr>
            <td colspan="3"><h3>Description</h3></td>
        </tr>
    </table>
        <p>{{product.description}}</p>
</div>
