<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div>
        <!--Body content-->
        <h2>Home</h2>
        
            <p>Detta är ett webbapplikations-projekt utfört av ett gäng helylle nissar 
            som, av olika mått att döma, är riktigt fiffiga på sina starka sidor.<br>
            <br>De inblandade är:<br>Mathias 'Kålle' Karlgren - självutnämnd gruppledare
            <br>Victor 'Åse-Nisse' Landin - Våran Bookmaker och fältjurist
            <br>David 'Harry' Harald - Mannen med databasen och all makt<br>
            Martin 'nej sa jag' Bakkelunn - Nej sa jag, Harry!<br><br>
            Detta projektet gjordes som en del i en projektkurs på Chalmers
            hösten 2014. Vi har bland annat kommit fram till att Angular borde 
            kunna stavas lättare, att Mona-Lisa borde ha en mustasch och att 
            vi inte känner till i vilken enhet Asfalt säljs i (är det i volym eller area?).</p>
</div>
